*.json
*.txt
*.csv
*.gz
*.png
!credentials.json
node_modules
venv
.vscode
.idea
__pycache__
env
!requirements.txt
venv3
!package.json
!req.txt
data/
!function_basics.png
tempCodeRunnerFile.py
.coverage
htmlcov/
.pytest*