aiofiles==22.1.0
aiohttp==3.8.1
aiohttp-cors==0.7.0
aioredis==2.0.1
aiosignal==1.2.0
aiosqlite==0.17.0
altgraph==0.17.2
anyio==3.6.1
apispec==5.2.2
appdirs==1.4.4
asttokens==2.0.8
async-timeout==4.0.2
asyncpg==0.26.0
attrs==21.4.0
autopep8==1.6.0
Babel==2.10.3
backcall==0.2.0
bcrypt==4.0.0
beautifulsoup4==4.11.1
black==22.8.0
bleach==5.0.1
bokeh==2.4.3
boto3==1.24.67
botocore==1.27.67
bs4==0.0.1
CacheControl==0.12.11
cachetools==5.0.0
cattrs==22.1.0
certifi==2022.6.15
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.0
click==8.0.4
colorama==0.4.5
colorclass==2.2.2
colorlog==6.6.0
commonmark==0.9.1
coverage==6.4.3
croniter==1.3.5
cryptography==38.0.0
debugpy==1.6.3
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.2
distlib==0.3.5
distro==1.7.0
dnslib==0.9.20
dnspython==2.2.1
docstring-parser==0.12
ecdsa==0.18.0
email-validator==1.2.1
entrypoints==0.4
exceptiongroup==1.0.0rc9
executing==1.0.0
fastapi==0.79.0
fastapi-admin==1.0.4
faust==1.10.4
filelock==3.7.1
Flask==2.1.3
frozenlist==1.3.0
googleapis-common-protos==1.56.4
greenlet==1.1.2
grpcio==1.48.1
grpcio-tools==1.48.1
h11==0.12.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==0.15.0
httptools==0.4.0
httpx==0.23.0
hypercorn==0.14.3
hyperframe==6.0.1
idna==2.10
inflection==0.5.1
ipykernel==6.15.1
ipython==8.4.0
iso8601==1.0.2
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.7.2
jupyter-core==4.11.1
jupyter_client==7.3.5
kafka-python==1.4.7
localstack==1.1.0
localstack-client==1.39
localstack-ext==1.1.0
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mode==4.3.2
MouseInfo==0.1.3
msgpack==1.0.4
multidict==6.0.2
mypy-extensions==0.4.3
nest-asyncio==1.5.5
numpy==1.23.1
opencv-python==4.6.0.66
opentracing==1.3.0
packaging==21.3
pandas==1.4.3
panel==0.13.1
param==1.12.2
parso==0.8.3
pathspec==0.10.1
pbr==5.10.0
pendulum==2.1.2
pexpect==4.8.0
piccolo==0.89.0
piccolo-admin==0.31.2
piccolo-api==0.47.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.2
plux==1.3.1
priority==2.0.0
prompt-toolkit==3.0.30
protobuf==3.20.1
psutil==5.9.1
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyaes==1.6.1
pyasn1==0.4.8
PyAutoGUI==0.9.53
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.15.0
pyct==0.4.8
pydantic==1.9.2
PyGetWindow==0.0.9
Pygments==2.13.0
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
PyJWT==2.4.0
PyMsgBox==1.0.9
pyparsing==3.0.9
PyPDF2==2.10.5
pyperclip==1.8.2
pypika-tortoise==0.1.6
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
pystray==0.19.4
python-box==6.0.2
python-dateutil==2.8.2
python-dotenv==0.20.0
python-jose==3.3.0
python-multipart==0.0.5
python-xlib==0.31
python3-xlib==0.15
pytube==12.1.0
pytweening==1.0.4
pytz==2022.1
pytzdata==2020.1
pyviz-comms==2.2.1
pywhatkit==5.4
PyYAML==6.0
pyzmq==23.2.1
qrcode==7.3.1
ray==1.13.0
redis==4.3.4
requests==2.25.1
requests-cache==0.9.6
rfc3986==1.5.0
rich==12.5.1
robinhood-aiokafka==1.1.6
rsa==4.9
s3transfer==0.6.0
semver==2.13.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
sqlalchemy2-stubs==0.0.2a27
sqlmodel==0.0.8
sse-starlette==1.1.6
stack-data==0.5.0
starlette==0.19.1
stevedore==4.0.0
tabula-py==2.5.1
tabulate==0.8.10
tailer==0.4.1
targ==0.3.7
terminaltables==3.1.10
toml==0.10.2
tomli==2.0.1
tornado==6.2
tortoise-orm==0.19.2
tqdm==4.64.1
traitlets==5.3.0
typing_extensions==4.3.0
url-normalize==1.4.3
urllib3==1.26.10
uvicorn==0.18.2
uvloop==0.16.0
venusian==1.2.0
virtualenv==20.15.1
WakaQ==1.0.6
watchfiles==0.16.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
websockets==10.3
Werkzeug==2.2.0
wikipedia==1.4.0
wrapt==1.14.1
wsproto==1.2.0
yarl==1.7.2
youtube-dl==2021.12.17
